# env file
backend/.env.development

# Logs
logs/*
!logs/.gitkeep
*.log
log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Python specific
__pycache__/
*.py[cod]
.pytest_cache/
htmlcov/
.coverage*
coverage.xml
dist/
Pipfile.lock
env/
venv/
env3.*

# Jupyter specific
.ipynb_checkpoints/

# Testing and documentation
docs_build/
site_build/
docs.zip
archive.zip

# SQLite database files
test.db

# Node.js specific
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store

# mypy cache
.mypy_cache/

# Netlify specific
.netlify/

# Temporary files
*~
.*.sw?
.cache

# macOS specific
.DS_Store
